<?xml version="1.0"?>
<!--
Copyright (c) Aalto  - All Rights Reserved
Created on: 11/13/18
    Author: Vladimir Petrik <vladimir.petrik@aalto.fi>
   Details:
-->

<launch>

    <param name="robot_description"
           command="$(find xacro)/xacro '$(find lumi_description)/robots/robot.urdf.xacro' --inorder"/>
    <param name="use_gui" value="true"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <rosparam>
            zeros:
              lumi_joint6: 1.5708
        </rosparam>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lumi_description)/launch/rviz.rviz"/>

</launch>
